cmake_minimum_required(VERSION 3.22.1)
project(MySDL2App)

# Find SDL2
find_library(SDL2_LIBRARY SDL2)
find_library(SDL2_MAIN_LIBRARY SDL2main)

# Add your source files
add_library(main SHARED
    src/main.cpp
)

# Link libraries
target_link_libraries(main
    ${SDL2_LIBRARY}
    ${SDL2_MAIN_LIBRARY}
    GLESv2
    log
)

# Include directories
target_include_directories(main PRIVATE
    /opt/sdl2/SDL2/include
)
